<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
    <form action="/books" method="POST">
        <label for="title">Название</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="author">Автор</label>
        <input type="text" name="author" id="author">
        <br>
        <label for="year">Год выпуска</label>
        <input type="text" name="year" id="year">
        <br>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>